@inject NavigationManager _navigationManager
<h3>RedirectToLoginComponent</h3>

@code { 
    protected override void OnInitialized() {
        //_navigationManager.NavigateTo("/identity/account/login");
        //_navigationManager.NavigateTo("/login");
    }
}
