@using System.Collections.Generic
@using System.Linq
@using System.Threading.Tasks
@using BlazorWebApplicationTask4.Areas.Identity.Data
@using Microsoft.AspNetCore.Identity
@using BlazorWebApplicationTask4.Areas.Identity.Pages.Account
@using Radzen.Blazor
@using System.Globalization

@page "/"

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider Provider

<h1>Users digest</h1>

<Greetings Link="/identity/account/login" />

<div class="row">
    <div class="col-md-6 col-sm-12 p-4">
        <RadzenChart>
            <RadzenPieSeries Data="@GetUserLogins().Result.ToArray()" Title="Revenue" CategoryProperty="ProviderDisplayName" ValueProperty="UserCount" />
        </RadzenChart>
    </div>
</div>

@code {
    async Task<IEnumerable<UserLogin>> GetUserLogins() {
        return (await SignInManager.GetExternalAuthenticationSchemesAsync())?
            .GroupBy(l => l.DisplayName)
    .Select(g => new UserLogin() { ProviderDisplayName = g.Key, UserCount = (double)g.Count() });
    }

    class UserLogin {
        public string ProviderDisplayName { get; set; }
        public double UserCount { get; set; }
    }

    protected override async Task OnInitializedAsync() {
        var state = await Provider.GetAuthenticationStateAsync();
        var userName = state?.User?.Identity?.Name ?? "Not authenticated user";
    }
}